[submodule "arm-tools/gcc-arm-none-eabi"]
	path = arm-tools/gcc-arm-none-eabi
	url = git@github.com:Faramax/gcc-arm-none-eabi.git
[submodule "arm-tools/stm32-cmake"]
	path = arm-tools/stm32-cmake
	url = git@github.com:Faramax/stm32-cmake.git
[submodule "arm-tools/STM32CubeMP1"]
	path = arm-tools/STM32CubeMP1
	url = git@github.com:Faramax/STM32CubeMP1.git
